<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>SpaceShip AI</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="spaceshipai.css">
  </head>
  <body ship-control>
    <h1>SpaceShip AI - <span id="title"></span></h1>
        
        <span id="fps-counter"></span>
        <span id="world-step-time"></span>
                
    <form>
        <label>
        Turn: <input type="number" ng-model="shipCtrl.turn">
        </label>
        <label>
        Up or down: <input type="number" ng-model="shipCtrl.upDown">
        </label>
        <label>
        Forward or backward: <input type="number" ng-model="shipCtrl.forwardBack">
        </label>
        
        <button class="btn btn-primary" ng-click="shipCtrl.addToApiCalls()" type="button">Add to API Calls</button>
        <button class="btn btn-default" ng-click="shipCtrl.flushApiCalls()" type="button" ng-disabled="shipCtrl.isSending">Refresh</button>
    </form>
       
    <canvas class="visualization" id="space" width="900px" height="600px"></canvas>
    
    
    {{shipCtrl.apiCalls}}
    {{shipCtrl.apiCalls.length}}
        
    <script type="application/dart" src="spaceshipai.dart"></script>
    <script src="packages/browser/dart.js"></script>    
    <script src="packages/shadow_dom/shadow_dom.min.js"></script>

  </body>
</html>
